
<footer class="footer bg-dark">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">Contact Info</h4>
                            <ul class="contact-info">
                                <li>
                                    <span class="contact-info-label">Address:</span>1234 Street Name, City, England
                                </li>
                                <li>
                                    <span class="contact-info-label">Phone:</span>Toll Free <a href="tel:">
                                        (123)
                                        456-7890
                                    </a>
                                </li>
                                <li>
                                    <span class="contact-info-label">Email:</span> <a href="https://portotheme.com/cdn-cgi/l/email-protection#c1aca0a8ad81a4b9a0acb1ada4efa2aeac"><span class="__cf_email__" data-cfemail="dbb6bab2b79bbea3bab6abb7bef5b8b4b6">[email&#160;protected]</span></a>
                                </li>
                                <li>
                                    <span class="contact-info-label">Working Days/Hours:</span> Mon - Sun / 9:00 AM - 8:00 PM
                                </li>
                            </ul>
                            <div class="social-icons">
                                <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                                <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                                <a href="#" class="social-icon social-instagram icon-instagram" target="_blank" title="Instagram"></a>
                            </div>
                            <!-- End .social-icons -->
                        </div>
                        <!-- End .widget -->
                    </div>
                    <!-- End .col-lg-3 -->

                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4>

                            <ul class="links">
                                <li><a href="#">Help & FAQs</a></li>
                                <li><a href="#">Order Tracking</a></li>
                                <li><a href="#">Shipping & Delivery</a></li>
                                <li><a href="#">Orders History</a></li>
                                <li><a href="#">Advanced search</a></li>
                                <li><a href="dashboard.html">My Account</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="demo9-about.html">About Us</a></li>
                                <li><a href="demo9-contact.html">Contact Us</a></li>
                                <li><a href="#">Corporate Sales</a></li>
                            </ul>
                        </div>
                        <!-- End .widget -->
                    </div>
                    <!-- End .col-lg-3 -->

                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">MAIN FEATURES</h4>

                            <ul class="links">
                                <li><a href="#">Super Fast HTML Template</a></li>
                                <li><a href="#">Top Rated HTML Template</a></li>
                                <li><a href="#">33 Unique Shop Layouts</a></li>
                                <li><a href="#">Powerful Wordpress Features</a></li>
                                <li><a href="#">Mobile & Retina Optimized</a></li>
                                <li><a href="#">Super Fast HTML Template</a></li>
                                <li><a href="#">Top Rated HTML Template</a></li>
                                <li><a href="#">33 Unique Shop Layouts</a></li>
                                <li><a href="#">Powerful Wordpress Features</a></li>
                                <li><a href="#">Mobile & Retina Optimized</a></li>
                            </ul>
                        </div>
                        <!-- End .widget -->
                    </div>
                    <!-- End .col-lg-3 -->

                    <div class="col-lg-3 col-sm-6">
                        <div class="widget">
                            <h4 class="widget-title">Popular Tags</h4>

                            <div class="tagcloud">
                                <a href="#">Clothes</a>
                                <a href="#">Fashion</a>
                                <a href="#">Hub</a>
                                <a href="#">Shirt</a>
                                <a href="#">Skirt</a>
                                <a href="#">Sports</a>
                                <a href="#">Sweater</a>
                            </div>
                        </div>
                        <!-- End .widget -->
                    </div>
                    <!-- End .col-lg-3 -->
                </div>
                <!-- End .row -->
            </div>
            <!-- End .container -->
        </div>
        <!-- End .footer-middle -->

        <div class="container px-6">
            <div class="footer-bottom d-sm-flex align-items-center">
                <div class="footer-left">
                    <span class="footer-copyright">© Porto eCommerce. 2021. All Rights Reserved</span>
                </div>

                <div class="footer-right ml-auto mt-1 mt-sm-0">
                    <div class="payment-icons mr-0">
                        <span class="payment-icon visa" style="background-image: url(~/images/payments/payment-visa.svg)"></span>
                        <span class="payment-icon paypal" style="background-image: url(~/images/payments/payment-paypal.svg)"></span>
                        <span class="payment-icon stripe" style="background-image: url(~/images/payments/payment-stripe.png)"></span>
                        <span class="payment-icon verisign" style="background-image:  url(~/images/payments/payment-verisign.svg)"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- End .container -->
    </footer>
    <!-- End .footer -->
<!-- End .container -->
<!-- End .page-wrapper -->
<div class="sticky-navbar">
    <div class="sticky-info">
        <a href="demo9.html">
            <i class="icon-home"></i>Home
        </a>
    </div>
    <div class="sticky-info">
        <a href="demo9-shop.html" class="">
            <i class="icon-bars"></i>Categories
        </a>
    </div>
    <div class="sticky-info">
        <a href="wishlist.html" class="">
            <i class="icon-wishlist-2"></i>Wishlist
        </a>
    </div>
    <div class="sticky-info">
        <a asp-area="Area" asp-controller="Auth" asp-action="Login" class="">
            <i class="icon-user-2"></i>Account
        </a>
    </div>
    <div class="sticky-info">
        <a href="cart.html" class="">
            <i class="icon-shopping-cart position-relative">
                <span class="cart-count badge-circle">3</span>
            </i>Cart
        </a>
    </div>
</div>

<div class="newsletter-popup mfp-hide bg-img" id="newsletter-popup-form" style="background: #f1f1f1 no-repeat center/cover url(~/images/newsletter_popup_bg.jpg)">
    <div class="newsletter-popup-content">
        <img src="~/images/logo-black.png" alt="Logo" class="logo-newsletter" width="111" height="44">
        <h2>Subscribe to newsletter</h2>

        <p>
            Subscribe to the Porto mailing list to receive updates on new arrivals, special offers and our promotions.
        </p>

        <form action="#">
            <div class="input-group">
                <input type="email" class="form-control" id="newsletter-email" name="newsletter-email" placeholder="Your email address" required />
                <input type="submit" class="btn btn-primary" value="Submit" />
            </div>
        </form>
        <div class="newsletter-subscribe">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" value="0" id="show-again" />
                <label for="show-again" class="custom-control-label">
                    Don't show this popup again
                </label>
            </div>
        </div>
    </div>
    <!-- End .newsletter-popup-content -->

    <button title="Close (Esc)" type="button" class="mfp-close">
        ×
    </button>
</div>
<!-- End .newsletter-popup -->

<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>