
<footer class="footer bg-dark">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Thông Tin Liên Hệ</h4>
                        <ul class="contact-info">
                            <li>
                                <span class="contact-info-label">Địa chỉ:</span>54 Nguyễn Lương Bằng
                                Hòa Khánh Bắc, Liên Chiểu, Đà Nẵng
                            </li>
                            <li>
                                <span class="contact-info-label">Điện thoại:</span> Miễn phí  <a href="tel:">
                                    0914 999 999
                                </a>
                            </li>
                            <li>
                                <span class="contact-info-label">Email:</span> <a href="https://portotheme.com/cdn-cgi/l/email-protection#c1aca0a8ad81a4b9a0acb1ada4efa2aeac"><span class="__cf_email__" data-cfemail="dbb6bab2b79bbea3bab6abb7bef5b8b4b6">[email&#160;protected]</span></a>
                            </li>
                            <li>
                                <span class="contact-info-label">Ngày/Giờ Làm Việc:</span> Thứ 2 - Chủ Nhật / 9:00 Sáng - 8:00 Tối
                            </li>
                        </ul>
                        <div class="social-icons">
                            <a href="#" class="social-icon social-facebook icon-facebook" target="_blank" title="Facebook"></a>
                            <a href="#" class="social-icon social-twitter icon-twitter" target="_blank" title="Twitter"></a>
                            <a href="#" class="social-icon social-instagram icon-instagram" target="_blank" title="Instagram"></a>
                        </div>
                        <!-- End .social-icons -->
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-lg-3 -->

                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Dịch Vụ Khách Hàng</h4>

                        <ul class="links">
                            <li><a href="#">Hỗ Trợ & Câu Hỏi Thường Gặp</a></li>
                            <li><a href="#">Theo Dõi Đơn Hàng</a></li>
                            <li><a href="#">Vận Chuyển & Giao Hàng</a></li>
                            <li><a href="#">Lịch Sử Đơn Hàng</a></li>
                            <li><a href="#">Tìm Kiếm Nâng Cao</a></li>
                            <li><a href="#">Tài Khoản Của Tôi</a></li>
                            <li><a href="#">Cơ Hội Nghề Nghiệp</a></li>
                            <li><a href="#">Về Chúng Tôi</a></li>
                            <li><a href="#">Liên Hệ</a></li>
                            <li><a href="#">Bán Hàng Doanh Nghiệp</a></li>
                        </ul>
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-lg-3 -->
                <div class="col-lg-3 col-sm-6">
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="widget">
                        <h4 class="widget-title">Thẻ Phổ Biến</h4>

                        <div class="tagcloud">
                            <a href="#">Quần Áo</a>
                            <a href="#">Thời Trang</a>
                            <a href="#">Trung Tâm</a>
                            <a href="#">Áo Sơ Mi</a>
                            <a href="#">Váy</a>
                            <a href="#">Thể Thao</a>
                            <a href="#">Áo Len</a>
                        </div>
                    </div>
                    <!-- End .widget -->
                </div>
                <!-- End .col-lg-3 -->
            </div>
            <!-- End .row -->
        </div>
        <!-- End .container -->
    </div>
    <!-- End .footer-middle -->

    <div class="container px-6">
        <div class="footer-bottom d-sm-flex align-items-center">
            <div class="footer-left">
                <span class="footer-copyright">© HoiAn-DNG 360. 2024</span>
            </div>

            <div class="footer-right ml-auto mt-1 mt-sm-0">
                <div class="payment-icons mr-0">
                    <span class="payment-icon visa" style="background-image: url(/images/payments/payment-visa.svg)"></span>
                    <span class="payment-icon paypal" style="background-image: url(/images/payments/payment-paypal.svg)"></span>
                    <span class="payment-icon stripe" style="background-image: url(/images/payments/payment-stripe.png)"></span>
                    <span class="payment-icon verisign" style="background-image:  url(/images/payments/payment-verisign.svg)"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- End .container -->
</footer>
<!-- End .footer -->
<!-- End .container -->
<!-- End .page-wrapper -->
<div class="sticky-navbar">
    <div class="sticky-info">
        <a href="demo9.html">
            <i class="icon-home"></i>Trang Chủ
        </a>
    </div>
    <div class="sticky-info">
        <a href="demo9-shop.html" class="">
            <i class="icon-bars"></i>Danh Mục
        </a>
    </div>
    <div class="sticky-info">
        <a href="wishlist.html" class="">
            <i class="icon-wishlist-2"></i>Danh Sách Ưa Thích
        </a>
    </div>
    <div class="sticky-info">
        <a asp-area="Area" asp-controller="Auth" asp-action="Login" class="">
            <i class="icon-user-2"></i>Tài Khoản
        </a>
    </div>
    <div class="sticky-info">
        <a href="/User/Cart/CartView" class="">
            <i class="icon-shopping-cart position-relative">
                <span class="cart-count badge-circle">3</span>
            </i>Giỏ Hàng
        </a>
    </div>
</div>


<a id="scroll-top" href="#top" title="Top" role="button"><i class="icon-angle-up"></i></a>